.store {
  background-color: #f9fafd;
  .header {
    position: relative;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    .image {
      img {
        width: 100%;
      }
    }
    .status {
      color: #fff;
      position: absolute;
      top: 0.514rem;
      left: 0.514rem;
      font-size: 0.92857rem;
      line-height: 1;
      display: flex;
      align-items: center;
      font-weight: 500;
      &:before {
        content: "";
        width: 1.071rem;
        height: 1.071rem;
        margin-right: 0.357rem;
        display: inline-flex;
        border-radius: 50%;
        background-color: #a9dbb8;
      }
    }
    .name {
      color: #fff;
      position: absolute;
      bottom: 0;
      font-size: 1.357rem;
      font-weight: 500;
      padding-left: 0.714rem;
      padding-right: 0.714rem;
      line-height: 1.2;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding-bottom: 0.2rem;
    }
  }
  .body {
    padding: 1.42857rem 1.75714rem;
    font-size: 0.85714rem;
    .phone,
    .email,
    .address {
      color: var(--secondary);
      margin-bottom: 0.5714rem;
      display: flex;
      :global(.cIcon) {
        font-size: 1rem;
      }
    }
    .email {
      word-break: break-all;
    }
    .address {
      margin-bottom: 0;
    }
  }

  .footer {
    :global(.btn) {
      width: 100%;
      height: 48px;
      border-radius: 0 0 6px 6px;
      font-weight: 600;
      font-size: 1.143rem;
      letter-spacing: 0.5px;
    }
  }
}

.filter {
  background-color: #f1f1f1;
}
